body {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100vw;
  border-bottom: solid 1px rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(200px, 100vw, 978px);
  padding-left: 20px;
  padding-right: 20px;
}

.header__instagram {
  margin-top: 7px;
  width: 103px;
}

.header-icons {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.header__icon {
  fill: #383838;
}

.header__icon:not(:first-child) {
  padding-left: 24px;
}
