.header-container,
.header-container--small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100vw;
  border-bottom: solid 1px rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.header-container--small {
  margin-bottom: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(200px, 100vw, 978px);
  padding-left: 20px;
  padding-right: 20px;
}

.header__instagram {
  width: 103px;
}

.header-icons {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.header__icon {
  fill: #383838;
}

.header__icon:not(:first-child) {
  padding-left: 24px;
}

.profile-pic__image {
  height: 22px;
  width: 22px;
  border-radius: 11px;
}

.profile-pic__circle,
.profile-pic__no-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border: solid 1px #383838;
  border-radius: 14px;
}

.profile-pic__no-circle {
  border: none;
}
