.login-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form-container,
.login__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  background-color: white;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 1px;
}

.small {
  background-color: transparent;
  border: none;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 22px;
}

.login__logo {
  width: 175px;
  height: 51px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.login__form-input {
  box-sizing: border-box;
  width: 266px;
  height: 36px;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 3px;
  margin-bottom: 6px;
  padding: 9px 0px 7px 8px;
  color: rgb(142, 142, 142);
  background-color: rgb(250, 250, 250);
  font-size: 14px;
}

.login__button {
  width: 266px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.login__signup {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.login__signup-link {
  font-weight: 600;
  color: rgb(0, 149, 246);
  text-decoration: none;
  padding-left: 5px;
}
