.post-page-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-page-container {
  width: clamp(200px, 100vw, 935px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 28px;
  padding-right: 28px;
}

.post-page-post {
  display: flex;
  max-width: 100%;
  width: max-content;
  border: solid 1px var(--post-border-color);
}

.post-page-post--column {
  flex-direction: column;
}

.post-page-post__image {
  width: clamp(100px, 100vw, 614px);
  max-width: 100%;
}

.post-page-post__side-bar {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  background-color: var(--bg-color);
  justify-content: space-between;
}

.post-page-post__side-bar--column {
  min-height: fit-content;
}

.post-page-post__user-info {
  display: flex;
  background-color: var(--bg-color);
  width: 335px;
  border-bottom: solid 1px var(--post-border-color);
  padding: 14px 16px 14px 16px;
  align-items: center;
  height: max-content;
}
.post-page-post__user-info--column {
  width: 100%;
}

.user-info__username {
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  color: var(--font-color);
}

.comment {
  background-color: var(--bg-color);
  padding: 14px 16px 14px 16px;
  display: flex;
}

.comment__content {
  padding-left: 16px;
  padding-right: 24px;
  font-size: 14px;
  padding-top: 7px;
  overflow-wrap: break-word;
  max-width: 100%;
}

.content__username {
  font-weight: 600;
}

.comments {
  min-height: 206px;
  max-width: 334px;
  max-height: 354px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 4px;
}

.comments::-webkit-scrollbar {
  width: 10px;
}
.comments::-webkit-scrollbar-track {
  background: var(--post-border-color);
  border-radius: 5px;
}
.comments::-webkit-scrollbar-track:hover {
  background: var(--post-border-color);
}

.comments::-webkit-scrollbar-thumb {
  background: var(--icon-color-hover);
  border-radius: 5px;
}

.comments::-webkit-scrollbar-thumb:hover {
  background: var(--icon-color-hover);
}

.side-bar__bottom {
  border-top: solid 1px var(--post-border-color);
}
.side-bar__bottom--column {
  border-top: none;
}

.liked-by {
  padding: 0px 16px 14px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.liked-by__text {
  padding-left: 4px;
}

.liked-by__link {
  font-weight: 600;
}

.add-comment {
  border-top: solid 1px var(--post-border-color);
}

.add-comment__form {
  padding: 6px 16px 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-comment__input {
  border: none;
  margin-left: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--font-color);
}

.add-comment__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--button-color);
  font-weight: 600;
}

.--inactive {
  opacity: 0.3;
  cursor: default;
}

.add-comment__input:focus {
  border: none;
  outline: none;
}
