.post-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-align {
  align-items: center !important;
}

.post-container {
  width: clamp(200px, 100vw, 935px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 28px;
  padding-right: 28px;
}

.post {
  margin-bottom: 20px;
}

.post-header {
  width: clamp(100px, 100vw, 614px);
  height: 64px;
  border-top: solid 1px var(--post-border-color);
  border-left: solid 1px var(--post-border-color);
  border-right: solid 1px var(--post-border-color);
  background-color: white;
}

.post-header__flex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 14px 16px 14px 16px;
  align-items: center;
}

.post-header__flex > h3 {
  padding-left: 14px;
  font-weight: 600;
}

.post-image {
  width: clamp(100px, 100vw, 614px);
  height: clamp(100px, 100vw, 614px);
  background-color: black;
}

.post__like-bar {
  display: flex;
  padding: 6px 16px 8px 16px;
  background-color: var(--bg-color);
  border-left: solid 1px var(--post-border-color);
  border-right: solid 1px var(--post-border-color);
}

.post__like-bar > svg {
  padding: 8px 8px 8px 8px;
  fill: var(--icon-color);
  cursor: pointer;
}

.post__like-bar > svg:hover {
  fill: var(--icon-color-hover);
}

.post__like-bar > svg:first-child {
  padding-left: 0px;
}
