.profile-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.profile,
.profile--small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 100vw, 978px);
  padding-left: 20px;
  padding-right: 20px;
}

.profile--small {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.profile-header {
  display: flex;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  margin-bottom: 44px;
}

.profile-header--small {
  flex-direction: column;
}

.profile-header__left {
  flex-basis: 33.3%;
}

.profile-header__right {
  flex-basis: 66.6%;
}

.profile-header__profile-pic-container {
  display: flex;
  justify-content: center;
}

.profile-header__profile-pic-container--small {
  display: flex;
  justify-content: center;
  margin-right: 28px;
}

.profile-header__profile-pic,
.profile-header__no-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header__no-profile-pic,
.profile-header__no-profile-pic--small {
  border: solid 1px var(--avatar-border-color);
}

.profile-header__profile-pic--small,
.profile-header__no-profile-pic--small {
  width: 77px;
  height: 77px;
  border-radius: 38.5px;
  margin-right: 28px;
}

.profile-header__name-container {
  display: flex;
  align-items: flex-start;
}

.profile-header__name {
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 20px;
  margin-right: 28px;
}

.header-profile__stats,
.header-profile__stats--small {
  display: flex;
  padding-bottom: 20px;
}

.header-profile__stats--small {
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  margin-top: 20px;
}

.header-profile__stats > li {
  padding-right: 40px;
}
.header-profile__stats > li > span:first-child {
  font-weight: 600;
}

.header-profile__stats--small > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-profile__stats--small > li > span:first-child {
  font-weight: 600;
}

.profile-header__description,
.profile-header__description--small {
  display: flex;
  flex-direction: column;
}

.profile-header__description--small {
  padding-left: 20px;
  padding-right: 20px;
}

.profile-header__description > h1,
.profile-header__description--small > h1 {
  font-weight: 600;
  line-height: 24px;
}

.profile-header__top {
  display: flex;
  padding: 16px 16px 24px 16px;
}

.profile-header__bottom {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.profile__decorative-line {
  border-top: solid 1px var(--border-color);
  height: 1px;
  width: 100%;
  margin-bottom: 44px;
}

.profile-posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.profile-posts-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 28px;
}

.small-gap {
  gap: 3px;
}

.profile__post-container {
  position: relative;

  min-width: 0px;
  min-height: 0px;
}

.profile__post {
  max-width: 100%;
  max-height: 100%;

  min-width: 0px;
  min-height: 0px;
  display: block;
}

.profile__post-overlay {
  background-color: var(--light-overlay-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.profile__post-overlay svg {
  fill: var(--icon-color-light);
  margin-right: 8px;
}

.profile__post-stats {
  display: flex;
  font-weight: 600;
  color: var(--font-color-light);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.profile__post-stat {
  display: flex;
  align-items: center;
}
